:root {
  --font: 'Lato', sans-serif;
  --big: 'Montserrat', sans-serif;

  --red: #ef2f3c;
  --white: #f6f4f3;
  --blue: #276fbf;
  --dark: #183059;
  --yellow: #f0a202;
  --green: #27991a;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #183059;
  color: #276fbf;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
li {
  cursor: default;
}
button {
  cursor: pointer;
}
